configuration {
  	modi: [window,drun,ssh,combi];
  	combi-modi: [window,drun,ssh];
		parse-known-hosts: false;
  	columns: 1;
  	font: "Iosevka 12";
  	show-icons: true;
  	theme: "~/.cache/wal/colors-rofi-dark";
}

/* vim:ft=css
