* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

#custom-powermenu,
#workspaces,
#window,
#tray,
#language,
#keyboard-state,
#wireplumber,
#network,
#battery,
#clock,
tooltip
{
  background: #1e1f21;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #303436;
  border-radius: 15px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #e2e5df;
}

#custom-powermenu {
  padding-left: 12px;
  padding-right: 15px;
  color: #c16a6d;
  margin-left: 12px;
}

#workspaces button {
  padding: 5px;
  padding-right: 8px;
  margin: 2.5px;
  color: #7b82b9;
  background: #1e1f21;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button.active {
  color: #8ab97b;
  background: #1e1f21;
  border-bottom: solid 3px #8ab97b;
}

#workspaces button.focused {
  color: #c9c76b;
  background: #1e1f21;
  border-bottom: solid 3px #c9c76b;
}

#workspaces button.urgent {
  color: #c16a6d;
  background: #1e1f21;
  border-bottom: solid 3px #c16a6d;
}

#clock, #network, #battery {
  padding-right: 15px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#language {
  color: #d3d175;
}

#network {
  color: #7bb0b9;
}

#wireplumber {
  color: #b17aba;
}

#battery {
  margin-right: 12px;
}

#battery.good, #battery.full {
  color: #8ab97b;
}

#battery.warning {
  color: #c9c76b;
}

#battery.critical {
  color: #c16a6d;
}
