/***
 *     $$$$$$\                       $$\                          $$\            $$$$$$\    $$\               $$\           
 *    $$  __$$\                      $$ |                         $$ |          $$  __$$\   $$ |              $$ |          
 *    $$ /  \__| $$$$$$\  $$$$$$$\ $$$$$$\    $$$$$$\  $$$$$$$\ $$$$$$\         $$ /  \__|$$$$$$\   $$\   $$\ $$ | $$$$$$\  
 *    $$ |      $$  __$$\ $$  __$$\\_$$  _|  $$  __$$\ $$  __$$\\_$$  _|        \$$$$$$\  \_$$  _|  $$ |  $$ |$$ |$$  __$$\ 
 *    $$ |      $$ /  $$ |$$ |  $$ | $$ |    $$$$$$$$ |$$ |  $$ | $$ |           \____$$\   $$ |    $$ |  $$ |$$ |$$$$$$$$ |
 *    $$ |  $$\ $$ |  $$ |$$ |  $$ | $$ |$$\ $$   ____|$$ |  $$ | $$ |$$\       $$\   $$ |  $$ |$$\ $$ |  $$ |$$ |$$   ____|
 *    \$$$$$$  |\$$$$$$  |$$ |  $$ | \$$$$  |\$$$$$$$\ $$ |  $$ | \$$$$  |      \$$$$$$  |  \$$$$  |\$$$$$$$ |$$ |\$$$$$$$\ 
 *     \______/  \______/ \__|  \__|  \____/  \_______|\__|  \__|  \____/        \______/    \____/  \____$$ |\__| \_______|
 *                                                                                                  $$\   $$ |              
 *                                                                                                  \$$$$$$  |              
 *                                                                                                   \______/               
 */

@import 'modules/colours.scss';  

#sp-root {
    background-color: $background;
    color: $foreground;
}

#sp-root > #sp-content {
    display: flex;
    align-content: space-around;
}

#sp-root > #sp-content > .sp-tile {
    background-color: $color8;
    margin: auto;
}

#sp-root > #sp-content > .sp-tile > .sp-tile-body > .sp-tile-label >.sp-tile-icon  {
    height: 48px;
    width: 48px;
}

#sp-root > #sp-content > .sp-tile > .sp-tile-body > .sp-tile-label > .sp-tile-icon > svg {
    fill: $color7;
}
