/***
 *    $$$$$$$\                      $$\                                         $$\                        $$$$$$\  $$\       $$\           $$\                           
 *    $$  __$$\                     $$ |                                        $$ |                      $$  __$$\ \__|      $$ |          $$ |                          
 *    $$ |  $$ | $$$$$$\   $$$$$$\  $$ |  $$\ $$$$$$\$$$$\   $$$$$$\   $$$$$$\  $$ |  $$\  $$$$$$$\       $$ /  \__|$$\  $$$$$$$ | $$$$$$\  $$$$$$$\   $$$$$$\   $$$$$$\  
 *    $$$$$$$\ |$$  __$$\ $$  __$$\ $$ | $$  |$$  _$$  _$$\  \____$$\ $$  __$$\ $$ | $$  |$$  _____|      \$$$$$$\  $$ |$$  __$$ |$$  __$$\ $$  __$$\  \____$$\ $$  __$$\ 
 *    $$  __$$\ $$ /  $$ |$$ /  $$ |$$$$$$  / $$ / $$ / $$ | $$$$$$$ |$$ |  \__|$$$$$$  / \$$$$$$\         \____$$\ $$ |$$ /  $$ |$$$$$$$$ |$$ |  $$ | $$$$$$$ |$$ |  \__|
 *    $$ |  $$ |$$ |  $$ |$$ |  $$ |$$  _$$<  $$ | $$ | $$ |$$  __$$ |$$ |      $$  _$$<   \____$$\       $$\   $$ |$$ |$$ |  $$ |$$   ____|$$ |  $$ |$$  __$$ |$$ |      
 *    $$$$$$$  |\$$$$$$  |\$$$$$$  |$$ | \$$\ $$ | $$ | $$ |\$$$$$$$ |$$ |      $$ | \$$\ $$$$$$$  |      \$$$$$$  |$$ |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |\$$$$$$$ |$$ |      
 *    \_______/  \______/  \______/ \__|  \__|\__| \__| \__| \_______|\__|      \__|  \__|\_______/        \______/ \__| \_______| \_______|\_______/  \_______|\__|      
 *                                                                                                                                                                        
 *                                                                                                                                                                        
 *                                                                                                                                                                        
 */

#sidebar-box,
.sidebar-panel[lwt-sidebar],
.sidebar-placesTree
.panel-arrowcontent,
.sidebar-search-container > #search-box{
	background-color: $background !important;
	color: $foreground !important;
}

#sidebar-switcher-target:hover:-moz-lwtheme {
	background-color: $color3 !important;
	color: $color5 !important;
}

#search-box[focused="true"] {
	border: 1px solid $color5 !important;	
}
